
button{
    cursor:pointer;
}

hr{
    border-bottom:0px;
    border-left:0px;
    border-right:0px;
} 

#inputbox{
    width:100%;
    height:25px;
}

#sci_buttons{
   
    padding-top:10px;
}

#sciMode,
#sciFuncs{
    margin-left:5px;
}

#normal_buttons{
    padding-top:10px;
    margin-left:5px;
    float:left;
}

#num_Buttons,
#expression_Buttons{
    display:inline-block;
}

#num_Buttons{
    margin-right:50px;
}


#expression_Buttons{
    vertical-align: baseline;
    position: relative;
    top: 30px;
}

.numButton,
.exprButton{
    width: 40px;
    height: 30px;
    font-size:11px;
}

.sciButton {
    width: 50px;
    height: 30px;
    font-size:11px;
}

#btn0{
  width: 89px;
}

.subscript{
    font-size:8px;   
    vertical-align: baseline;
    position: relative;
    top: -0.8em;
}


#statusbar{
    position:absolute;
    bottom:0px;
    font-size:13px;
}


.hidden{
  display:none;
}


ul#tabs {
  list-style-type: none;
  padding: 0 0 0.3em 0;
}

ul#tabs li {
  display: inline;
}

ul#tabs li span.nonselected {
  border: 1px solid ;
  border-radius: 8px 8px 0px 0px;
  padding: 0.3em;
  text-decoration: none; }

ul#tabs li span:hover {
    background-color:rgba(0,0,0,0.050);
}


ul#tabs li span.selected {
  border: 1px solid ;
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
  font-weight: bold;
  padding: 0.5em 0.3em 0.38em 0.3em;
}

div.tabContent {
  border: 1px solid ;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
  padding: 0.5em;
}
