#inputbox{
    width:100%;
    padding-left: 5px;
    padding-right: 5px;
}

#num_buttons,
#expression_buttons{

    position:absolute;
    padding-top: 10px;
    font-weight:bold;
}

#num_buttons
{
    left:0px;
    padding-left: 5px;
}
#expression_buttons{
    padding-right: 5px;
    right:0px;
}

.numButton{
    width: 40px;
    height: 30px;
}

.exprButton{

    width: 40px;
    height: 30px;
}

#subscript{
    font-size:8px;   
    vertical-align:super;
}

